/* Define mobile styles */
@media only screen 
{
  /*Commons.*/
  html,body{line-height: 19px;}
  body, header nav ul li a:hover{background-color: #2A3239;}

  body,
  #ui-datepicker-div{font-family: "raleway-regular", arial;}
  b, strong{display: inline-block; margin: 4px 0;}
  
  body,
  .content,
  .columns,
  #ui-datepicker-div .ui-datepicker-title,
  #ui-datepicker-div a,
  #ui-datepicker-div th,
  #faq li,
  textarea,
  label{font-size: 12px;}

  .alert-box.alert{margin-bottom: 1px;}
  
  .slogan{display: none;}

  a{color: #C3317E;}
  a:hover{color: #540F33;}
  
  .content h5{margin: 0;}
  button, 
  .button,
  button:focus,
  .button:focus
  {
    padding-top: 9px; 
    margin: 4px 0; 
    font-size: 11px !important;
    background-color: #C3317E;
    border-color: #9B2664;
  }
  /*Vertical align bug fix.*/
  .button.tiny{position: relative; top: -1px;}

  .button.tiny,
  button.tiny{margin: 4px 0;}

  body, 
  header nav ul li a:hover,
  button:hover, 
  .button:hover{background-color: #540F33;}

  input[type="text"],
  select,
  button,
  .button,
  input[type="email"],
  input[type="password"]{height: 30px;}

  input[type="text"],
  input[type="email"],
  input[type="password"]{margin: 4px 0; font-size: 11px;}

  .tabs dd,
  .tabs-content{border: 1px solid #DEDFE0;}
  .tabs dd{border-bottom: 0;}

  .tabs dd a{position: relative;}
  .tabs dd a img
  {
    display: none; 
    position: absolute; 
    bottom: -9px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .tabs dd.active a img{display: block;}

  .panel form{margin-bottom: 0;}

  .button.tiny, 
  button.tiny{padding: 8px;}
  #home .listing.panel,
  .tabs dd > a{padding: 4px 8px;}

  .tabs-content > .content{padding: 16px;}

  .tabs dd > a,
  input[type="text"],
  textarea,
  select,
  #home.index ul{font-size: 12px;}

  .slogan{font-size: 11px;}
  .tabs-content > .content.active{width: 100%;}
  .main{padding-top: 10px;}
  /*BUG:  Solves Foundation JS bug that's related to CSS.*/
  meta.foundation-data-attribute-namespace {font-family: false;}
  form{font-size: 13px;}
  .ui-datepicker-title{font-size: 14px;}
  .ui-datepicker th{font-size: 12px;}
  .row .row{margin-left: 0; margin-right: 0;}
  
  .avatar{max-width: 160px;}
  .main .work{max-width: 250px; margin: 1px;}
  
  .main .work,
  .avatar{height: auto;}
  
  table{width: 100%;}
  
  h5, p{font-size: 13px; margin-bottom: 3px;}
  
  hr{border-color: rgba(43, 50, 57, 0.15); margin: 8px 0;}
  
  table .button{margin: 0;}
  table tbody tr td, table tr td{padding-top: 2px; padding-bottom: 2px;}
  table thead tr th,
  table tbody tr td{font-size: 12px;}
  table.responsive th:last-child{width: 180px;}

  .button.radius,
  button.small,
  .button.small{padding: 9px; font-size: 11px;}
  .postfix.button{width: 30px;}

  #search{margin-top: 11px;}
  #search .postfix
  {
    line-height: 12px;
    height: 30px;
    padding: 8px;
    margin-top: 4px;
  }
  #search .advanced{padding: 0;}
  #search form{margin-bottom: 0;}
  #search .fa.fa-search{font-size: 11px;}
  #search button{padding-top: 8px;}
  #search .keywords, 
  #search button{display: inline-block; margin-left: -4px;}
  #search .keywords{width: 90%;}
  
  input[type="file"],
  input[type="text"],
  button,
  #home.index ul{margin: 4px 0;}

  .tabs dd.active a{outline: none; background-color: #C3317E; color: #fff;}

  .alert-box.alert{padding: 8px;}
  .show_menu{margin: 8px 0;}
  .alert-box.alert p{margin: 0;}
  .header.columns{padding: 0;}

  header{background-color: #fff;}

  button:hover, 
  .button:hover,
  header nav ul li a:hover{color: #fdb90d;}

  header nav ul li a{padding: 4px 0;}
  header nav ul{margin-top: 18px;}
  header .logo{margin-top: 27px; text-align: center;}
  header .logo img{height: 75px !important;}
  .row.panel{margin-bottom: 4px; background-color: #fff; padding: 8px;}
  .row.panel .columns{padding-left: 0;}
  /*.row.panel .columns:nth-child(2){margin-top: 11px;}*/

  
  #user .avatar,
  #resume .avatar{width: 100px; height: 100px;}

  div.footer
  {
    background-color: #626262;
    margin-top: 24px; 
    padding: 16px;
  }
  div.footer .columns{padding: 0;}
  div.footer .nav a{margin-right: 20px;}
  div.footer a{color: #fff;}
  div.footer a:hover{color: #FDB90D;}
  div.footer .social{margin: 0;}
  div.footer .social.right{float: left !important;}
  div.footer .social li
  {
    text-decoration: none;
    display: inline-block;
  }
  div.footer i.fa
  {
    font-size: 12px;
    width: 40px;
    height: 40px;
    padding: 0;
    padding-top: 16px;
  }
  label{font-weight: bold;}
  /*/Commons.*/

  /*FAQ.*/
  #faq h5{font-weight: bold;}
  /*/FAQ.*/
  
  /*Home.*/
  #home.index .intro{z-index: 1;}
  #home.index .quickRegister{z-index: 2;}
  #home.index .intro span{font-size: 13px; line-height: 19px;}
  #home.index .intro u{color: #C3317E;}
  #home.index .large
  {
    text-align: center;
    font-size: 50px; 
    margin-bottom: 60px;
    margin-top: 11px;
    line-height: 40px;
  }
  #home.index .row.options .columns{padding: 0;}
  
  #home.index .panel{background-color: #fff;}
  #home.index .quickRegister{width: 100%; padding: 8px; text-align: center;}

  #home.index .quickApply{margin-right: 4px;} 
  #home.index .row.features{clear: left; margin-top: 20px;}
  #home.index .row.features img{width: 100%; height: auto;}
  #home.index .row.features .button{margin-top: 8px;}
  #home.index .summary.panel{padding-bottom: 5px;}
  #home.index ul{list-style-type: none;}
  #home .listing.panel{padding-bottom: 0; margin-bottom: 0;}
  #home.index .row.works .work a
  {
    display: inline-block;
    height: 250px;
  }
  #home.index .row.works .work a,
  #home.index .row.works{width: 250px;}
  /*/Home.*/
  
  /*Applicant.*/
  #applicant.read #user.read .avatar{margin-left: 15px;}
  #applicant.read .comments .comment
  {
    margin: 4px;
    padding: 8px;
  }
  #applicant.read .comments{margin-top: 8px;}
  #applicant.read .comments .dateTime{color: #666; font-size: 13px; padding-top: 3px;}
  /*/Applicant.*/

  /*Resume.*/
  #resume .details .columns{padding: 0;}
  #resume .details label,
  #resume .details input[type="text"],
  #resume .details button{display: inline-block;}
  #resume .details label,
  #resume .details input[type="text"],
  #resume .details button,
  #resume .details .options a{margin: 0;}

  /*#resume .details input.name{width: 100%; max-width: 300px;}*/
  #resume .row.options{margin: 4px 0;}
  #resume .row.panel,
  #resume .row.panel button.tiny{margin: 0;}
  #resume .options .panel.recipients input[type="text"]{margin: 0;}
  #resume .options .panel.recipients input[type="text"],
  #resume .options .panel.recipients button{display: inline;}
  #resume .options .button{margin-bottom: 4px;}
  #resume .options .panel.recipients{padding: 4px;}
  #resume .options .panel.recipients .columns{padding-left: 0;}

  #resume .hidden{display: none;}
  #resume img{width: 100px;}
  #resume li{list-style-type: none; /*font-size: 12px;*/}
  #resume .close,
  #resume i{font-size: 15px;}
  #resume i{cursor: pointer; cursor: hand;}
  #resume input[type="text"],
  #resume textarea,
  select{font-size: 11px; padding: 4px; margin: 4px 0;}
  #resume textarea{height: 100px;}

  #resume.update li
  {
    padding: 4px; 
    padding-right: 20px; 
    position: relative;
    border: 1px solid #ddd;
    border-bottom: 1px solid #bbb;
    background-color: #eee;
    margin-bottom: 20px;
  }
  #resume.update li .row .columns{padding: 4px;}
  #resume li .close{
    position: absolute; 
    right: 5px;
    top: -5px;
    font-size: 20px;
  }

  #resume.read ul{margin-left: 15px;}
  #resume.read li{font-size: 12px;}
  #resume.read > section.panel.radius{background-color: #fff;}
  #resume.read li .row .columns{padding: 0;}
  #resume.read .row .row .columns{line-height: 21px;}
  #resume.read .row.panel{padding: 4px 8px;}
  /*/Resume.*/

  /*Search.*/
  #search.results .panel{padding: 8px; margin-bottom: 4px;}
  /*/Search.*/

  /*Internship.*/
  /*#internship .listing .row .columns.primary{margin-bottom: 8px;}
  #internship .listing .row .columns a,
  #internship .listing .row .columns .calendar
  {
    margin-bottom: 8px;
    display: block;
  }
  .listing .row .columns a
  {
    display: inline !important;
    margin-top: 4px;
    font-size: 13px;
  }
  .listing .row .columns a.alert{color: #F04124;}
  .listing .row .columns a:hover{text-decoration: underline;}
  #internship .button.radius{margin-bottom: 0;}*/
  /*/Internship.*/

  /*Position.*/
  #position.index .row.panel{margin: 0; padding: 4px;}
  #position.index textarea,
  #position.index label{margin-bottom: 0;}
  #position.read .name{font-size: 16px; color: #9B2664;}
  #position.read .columns,
  #position.update .columns{padding-left: 0;}
  #position.read .panel{padding: 8px;}
  #position.read .panel .panel{margin: 0;}
  #position.read .id,
  #position.read .address{color: #666;}
  /*/Position.*/

  /*Employer.*/
  /*/Employer.*/

  /*Internship Applications.*/
  /*#internshipApplication.index.employer .applicants.panel
  {
    padding: 4px !important;
    margin-top: 8px;
  }*/
  /*/Internship Application.*/

  /*Contact.*/
  /*/Contact.*/

  /*TOC and EULA.*/
  #toc strong,
  #eula strong{display: block; margin-top: 20px; margin-bottom: 4px;}
  /*/TOC and EULA.*/

  /*Analytics.*/
  #analytics input[type="checkbox"],
  #analytics label{margin: 0;}
  #analytics input[type="checkbox"]{margin-top: 7px;}
  /*/Analytics.*/

  /*Company*/
  #company.update .logo{width: 100px; height: 100px;}
  #company.update .columns{padding-left: 0;}
  /*/Company*/
}

/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) { 
    /*Commons.*/
    header{padding-left: 0; width: 290px;} 
    #map{min-height: 250px;}
    header .logo{width: 100%; margin-top: 17px; display: inline-block;}
    header nav ul{margin-left: 0;}
    header nav ul li{margin-bottom: 0; text-align: center;}
    #search.index .columns:nth-child(1){padding: 0;}
    #search.index .columns:nth-child(2){padding-right: 0;}
    header footer{width: 100%; text-align: center; bottom: 0;}
    input[type="email"]{margin: 0;}
    .row.panel .columns:nth-child(2){margin-top: 0;}
    /*/Commons.*/

    /*Home.*/
    #home.index .expandable .columns{padding-left: 0;}
    #home.index .intro .columns{padding: 0;}
    #home.index .row.works{width: auto;}
    #home.index .row.features .columns:first-child{padding-left: 0;}
    /*#home.index .row.intro > div
    {
      background-image: url(../img/index_carousel_1.png);
      padding: 16px;
      height: 419px;
      background-position-x: -150px;
      color: #fff;
    }
    #home.index .row.intro u{color: #fff;}
    #home.index .row.intro .large{display: none;}*/
    /*/Home.*/

    /*Auth.*/
    #auth.resetPassword .alert-box a
    {
      font-weight: bold; 
      color: #fff;
      text-decoration: underline;
    }
    #auth.login .columns{padding-left: 0;}
    #auth.resetPassword button{margin: 0;}
    #auth.login .row.options .columns:nth-child(2){padding: 4px 0;}
    /*/Auth.*/

    /*Internship.*/
    #search .listing .row .columns.primary{padding-left: 0;}
    /*/Internship.*/

    /*Applicant.*/
    #applicant.read #user.read .avatar{margin-left: 0;}
    /*/Applicant.*/

    /*Pooled Applicant.*/
    #pooledApplicant.index button{margin-top: 0;}
    /*/Pooled Applicant.*/
} 


/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) 
{
  #search .keywords{width: 230px;}
  
  h4{margin-left: -16px;}
  #resume h4,
  #applicant.index h4,
  #search h4,
  #position h4,
  #employer h4,
  #company h4,
  #positionApplication h4,
  #user h4,
  #analytics h4{margin-left: 0;}

  #auth.login h4{margin-left: 0;}
  header{border-right: 1px solid rgba(43, 50, 57, 0.15);}
  header nav ul li a{display: block; padding-right: 8px;}
  #internship .row.panel .columns:nth-child(2){margin-top: 0;}
  .main{padding-left: 300px; padding-bottom: 0px;}
  div.footer{margin-left: -10px;}
  div.footer .social.right{float: right !important;}
  div.footer .nav{padding-top: 12px; padding-left: 8px;}

  /*Home.*/
  #home.index .large{text-align: left; position: relative; top: 16px;}
  #home.index .quickRegister
  {
    padding: 8px; 
    margin-right: 40px;
    margin-top: -260px;
  }
  #home.index .quickRegister{width: auto; text-align: left;}
  /*/Home.*
}

/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em)
{
  header{padding-left: 20px;}
}


@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */